@import "~compass-mixins/lib/compass";
@import "src/assets/styles/icons-mixin.scss";
@import "src/assets/styles/color.scss";
@import "src/assets/styles/variable.scss";

$height: 322px;
$width: 980px;

* {
	box-sizing: content-box;
}

footer {
	background-color: #f6f9fa;
	width: 100%;
	height: $height;

	

	.content {
		width: $width;
		height: 100%;
		margin: 0px auto;
		position: relative;
		top: 50px;

		.footer-link {
			width: 100%;
			white-space: normal;
			line-height: 1em;
			position: relative;

			.border1, .border2 {
				width: 1px;
				background: $gray1;
				position: absolute;
				height: 100%;
				left: $width / 3;
				top: 0px;
			}

			.border2 {
				left: $width / 3 * 2;
			}

			.mid {
				padding: 0px 40px 0px 60px;
			}

			.right {
				padding-left: 20px;

				li {
					text-align: center;

					span {
						display: inline-block;
					}
				}

				.i-weixin {
					@include i-weixin;
				}

				.i-weixin-hover {
					@include i-weixin-hover;
				}

				.i-weibo {
					@include i-weibo;
				}

				.i-weibo-hover {
					@include i-weibo-hover;
				}

				.i-mobile {
					@include i-mobile;
				}

				.i-mobile-hover {
					@include i-mobile-hover;
				}
			}
			
			.left, .mid, .right {
				display: inline-block;
				width: $width / 3 - 40px;
				vertical-align: top;

				ul {
					margin-top: 10px;


					li {
						display: inline-block;
						width: ( $width / 3 - 40 ) / 3;
						margin-left: -4px;
						margin-top: 10px;

						a {
							font-size: 14px;
							color: $font-color1;
							line-height: 1em;
						}
					}	
				}

				.title {
					font-size: 14px;
					color: #717171;
					margin-left: -4px;
				}
			}

			.mid, .right {
				margin-left: -5px;
			}
		}

		.certificate-info {
			width:  $width;
			margin: 20px auto;

			.left {
				width: 100px;
				height: 80px;
				float: left;
				background-image: url(/assets/img/footpic.png);
			}

			.right {
				width: $width - 120;
				float: left;
				margin-left: 20px;

				.txt {
					font-size: 12px;
					color: #717171;
					line-height: 30px;
				}

				.link {
					color: $font-color2;
					font-size: 12px;
					line-height: 30px;

					h1 {
						font-size: 12px;
					   	color: $font-color2;
					}

					li {
						display: inline-block;
					
						a {
							color: $font-color2;
						}
					}
				}
			}
		}
	}
}