<header>
	<div class="header-container">
		<nav>
			<ul class="list-unstyled">
				<li>
					<a href="javascript:;" title="">
						<span class="i-tv"></span>
						<span class="txt">主站</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">画友</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">游戏中心</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">直播</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">周边</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">移动端</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">BML</span>
					</a> 
				</li>
				<li>
					<a href="javascript:;" title="">
						<span class="txt">萌战</span>
						<span class="i-new"></span>
					</a> 
				</li>
			</ul>
		</nav>
		<div class="contribute">
			<a href="javascript:;" title="" class="link">投 稿</a>
		</div>
		<div class="history">
			<a href="javascript:;" title="" class="link">历史</a>
		</div>
		<div class="user">
			<a href="javascript:;" title="" class="sign-in">登录</a>
			<a href="javascript:;" title="" class="sign-up">注册</a>
		</div>
		<div class="search">
			<input type="text" name="search">
			<span class="i-search"></span>
		</div>
		
		

	</div>	
</header>