<div class="main">
	<div class="header">
		<h1 class="title">建议上传高清封面960*600</h1>
		<a href="javascript:;" class="btn-close"  (click)="close_fun()"></a>
	</div>
	<div class="content">
		<div class="left">
			<div class="controllor">
				<div class="poster">
					<img [src]="img_base64_str" width="100%" #img (load)='getSize ( img )'>
					<div class="cut-out-frame" #frame>
						<div class="mid" 
							[ngStyle]="{
								'width.px':mid_width,
								'height.px':mid_height,
								'left.px':mid_left,
								'top.px':mid_top
							}" 
							(mousedown)="activeSlide($event)"
						>
							<img 
								[src]="img_base64_str" 
								[width]="img_width"
								[height]="img_height"
								[ngStyle]="{
									'left.px':-mid_left,
									'top.px':-mid_top
								}"
							>
							<div class="cover"></div>		
						</div>
					</div>
				</div>
				
				<div class="border-right"></div>
			</div>
			<a href="javascript:;" class="btn-reselevte" (mouseover)="reselecte_active=true" (mouseout)="reselecte_active=false">
				<span class="icon" [ngClass]="{icon:!reselecte_active,'icon-hover':reselecte_active}"></span>
				<span class="txt">重新选择</span>
				<input type="file" name="upload_img" (change)='openImg($event)'>
			</a>
		</div>
		<div class="right">
			<div class="result-preview">
				<div class="poster">
					<img 
						[src]="img_base64_str" 
						[width]="img_width*img_ratio"
						[height]="img_height*img_ratio"
						[ngStyle]="{
							'left.px':-mid_left*img_ratio,
							'top.px':-mid_top*img_ratio
						}"
					>
				</div>
				<div class="tip">
					<p>封面最终展示效果如上所示</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<a href="javascript:;" class="btn-submit" (click)="submit_fun();close_fun()">确认</a>
		<a href="javascript:;" class="btn-cancel" (click)="close_fun()">取消</a>
	</div>
</div>