$red1: #d5527d;

$red2: #f35d8e;

$red3: #ffafc9;

$gray1: #e5e9ef;

$gray2: #f6f9fa;

$font-color1: #222;

$font-color2: #99a2aa;

$font-color3: #6d757a;

$font-color4: #717171;

$blue1: #00a1d6;
$blue2: #00b5e5;
