<div class="main">
	<div class="container hidden">
		<div class="content">
			<a href="javascript:;" class="btn-submit"></a>
			<div class="tip">拖拽视频到此处也可上传</div>
		</div>
		<div class="helper">
			<div class="wrap">
				<div class="left">
					<div class=" declaration">
						<h1 class="title">帮助及说明</h1>
						<ul class="list-unstyled ">
							<li>上传视频，即表示您已同意<a href="javascript:;">哔哩哔哩使用协议</a>，请勿上传色情，反动等违法视频。</li>
							<li>请保持上传的视频文件大小在2G以内</li>
							<li>请保持视频码率不超过1800kbps，音频码率不超过192kbps，否则会被系统再次压制</li>
						</ul>
						<div class="detail-link">
							<a href="javascript:;" class="contribute-notice">
								<span class="icon"></span>
								<span class="txt">投稿须知</span>
							</a>
							<a href="javascript:;" class="questions">
								<span class="icon"></span>
								<span class="txt">常见问题</span>
							</a>
						</div>
					</div>
					
				</div>
				<div class="right">
					<div class="tool-link">
						<h1 class="title"></h1>
						<div class="contribute-tool"></div>
						<div class="condense-tool"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container2">
		<app-contribute-info></app-contribute-info>
	</div>
</div>